/* Galleria
---------------------- */
#json-gallery { display: none; }
.gallery_area_div { float:right; }
.image_container {
    float:left!important;
    width: 145px;
    background: url('https://i.hizliresim.com/dOJ6qL.png');
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    cursor: pointer }
.image_container img {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 145px;
    border-radius: 3px }
.clear { clear:both; }
#dynamic_cont {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block }
#dynamic_cont input[type=text] { width:300px; }
#dynamic_cont .gallery_single_row {
    float: left;
    display:inline-block;
    width: 145px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px }
.dolu { display: inline-block!important; }
#dynamic_cont label { padding:0 6px; }
.button.add {
    background: #abaad4;
    color: #ffffff;
    border: none;
    box-shadow: none;
    width: 145px;
    height: 100px;
    font-size: 4em;
    line-height: 0;
    transition: all .5s }
.button.add:hover, .button.add:focus {
    background: #34327e;
    box-shadow: none;
    color: #ffffff;
    border: none;
    transition: all .5s }


.w-100 { width: 100%; }
.btn-remove:focus, .btn-edit:focus, .btn-rounded:focus { outline: 0 !important; }
.btn-remove {
    position: absolute;
    right: 4px;
    top: -12px;
    width: 26px;
    padding: 0 3px;
    height: 26px;
    border-radius: 100px;
    transition: all .5s;
    background: white;
    border: 0px;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    color: #ff3a3a;
    transform: rotate(-43deg) }
.btn-remove:before {
    transform: rotate(43deg);
    position: absolute;
    right: 0px;
    top: 2px;
    left: 2px }
.btn-remove:hover {
    background: #ff3a3a;
    border: 1px solid #ff3a3a;
    color: white;
    transform: rotate(-43deg) scale(1.5) }

.btn-edit {
    position: absolute;
    right: 37px;
    top: -12px;
    width: 26px;
    padding: 0 3px;
    height: 26px;
    border-radius: 100px;
    transition: all .5s;
    background: white;
    border: 0px;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    color: #007cba;
    transform: rotate(-43deg) }
.btn-edit:before {
    transform: rotate(43deg);
    position: absolute;
    right: 0px;
    top: 2px;
    left: 2px }
.btn-edit:hover {
    background: #007cba; 
    border: 1px solid #007cba;
    color: white;
    transform: rotate(-43deg) scale(1.5) }